<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<true/>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>kuPICDwOSIKoR1iqHD_2Ug</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>cMBWK_b2TqqSlEBLv1GHXg</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>kuPICDwOSIKoR1iqHD_2Ug</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>3aqhx3YeSCaZUHjg5Rp5Vg</string>
</dict>
</plist>
