/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";



global
{
	font-family: "Helvetica Nue";
	font-size: 13;
	color: #004080;
	content-background-color: #f0f0f0;
}

s|Label.Prompt {
	font-family: "Helvetica Nue";
	font-size: 13;
	color: #000000;
	fontWeight:"bold";
	textDecoration:"underline";
}

s|Label.Data {
	font-family: "Helvetica Nue";
	font-size: 13;
	color: blue;
	fontWeight:"normal";
	textDecoration:"underline";
}


s|TabbedViewNavigator #tabBar
{

	chromeColor: #004080;
	color: #ffffff;
	fontFamily: "Helvetica";
	iconPlacement:top;
	textDecoration:none;
	align: center;
}

s|ActionBar
{	 
	chromeColor: #004080;
	titleAlign: center;
	defaultButtonAppearance: beveled;
}

s|ActionBar #titleDisplay
{
	/*color: #70b2eb;  default color is white */		
	fontSize: 20;
	font-weight: light;
	fontFamily: "Helvetica";
}

s|TextInput.ShipmentSummary
{
	color: #000000;
	
}


/**ActionBar.beveled Group#actionGroup Button */
s|Button.NavigationButton
{
	fontSize: 12;
	skinClass: ClassReference("spark.skins.ios.BeveledActionButtonSkin");
}

/** Platisque Theme Set - & HUD
-------------------------------------------------
*/
s|Button
{
	/**  hud */
	/*skinClass: ClassReference("flexInc.plastique.skins.hud.ButtonSkin"); */ 
	skinClass: ClassReference("flexInc.plastique.skins.ButtonSkin");
}


s|CheckBox
{
	skinClass: ClassReference("flexInc.plastique.skins.hud.CheckBoxSkin");
}
s|RadioButton
{
	skinClass: ClassReference("flexInc.plastique.skins.hud.RadioButtonSkin");
}

.LightBlueButton
{
	color: #83B6EA;
	fontFamily: Helvetica;
	fontSize: 13;
	fontWeight: normal;
	icon: "@Embed('assets/glyphs/icon-dial@2x.png')";
}	


